#content{
    width: 99%;
    min-height: 300px;
    margin: 5px auto;
    padding: 20px;
    background: #c4e3f3;
    border-radius: 10px;
    
}
#display_sec{
    margin-top: 25px;
}
#add-tbl td{
    width: 40%;
    padding: 5px;
}